.navCol {
    max-width: 300px;
}

.offcanvas-starts {
    min-width: 300px;
    border-right: 1px solid rgba(0, 0, 0, .2);
    transform: translateX(0%) !important;
    background-color: var(--secondColor);
    color: white !important;
    min-height: 100vh;
    height: 100%;
}

.navButton {
    position: sticky;
    top: 0px;
    color: white;
    font-size: 28px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 0px;
    box-shadow: rgba(255, 255, 255, 0.02) 0px 1px 3px 0px, rgba(255, 255, 255, 0.15) 0px 0px 0px 1px;
}

.navButton:hover {
    color: rgb(223, 223, 223);
}

.navButton h6 {
    font-size: 18px !important;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: -2px;
}