.spinnerDiv{
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.spinnerDiv .spinner{
    height: 100px;
    width: 100px;
    color: #ff7c67 !important;
}

.page404{
    min-height: 80vh;
}


/* Mobile Responsiveness */

@media (max-width: 767px) {

}  