:root {
    --mainColor: #EE3939;
    --secondColor: #393943;
}


.spinnerDiv {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinnerDiv .spinner {
    height: 100px;
    width: 100px;
    color: var(--mainColor);
}

.page404 {
    min-height: 80vh;
}


/* Mobile Responsiveness */

@media (max-width: 767px) {
    .verify {
        display: none !important;
    }
}