:root {
    --mainColor: #EE3939;
    --secondColor: #393943;
}


.spinnerDiv {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinnerDiv .spinner {
    height: 100px;
    width: 100px;
    color: var(--mainColor);
}

.page404 {
    min-height: 80vh;
}

.AboutBtn {
    background-color: #EE3939;
    color: white;
    border: none;
    padding: 20px 10px 15px 10px !important;
}


/* Mobile Responsiveness */

@media (max-width: 767px) {
    .verify {
        display: none !important;
    }
}