footer {
    background-color: #393943 !important;
    padding: 30px 0px;
    color: white !important;
}

footer p {
    margin-bottom: 0px !important;
}


.socialIcn {
    max-width: 130px !important;
    justify-content: space-between;
    margin-left: auto;
}